// 0.25,0.5,0.75,1.25,2.0,3.25,5.25,8.5 ,13.75,22.25
// 0.5 ,1.0,1.5 ,2.5 ,4.0,6.5 ,10.5,17.0,27.5 ,44.5
// 1   ,2  ,3   ,5   ,8  ,13  ,21  ,34  ,55   ,89
// 233,377, 610, 987,1597

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

*:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 0.5rem rgba(70, 130, 180, 0.75); /* Steel Blue */
  transition: box-shadow 0.2s ease-in-out; /* Add a smooth transition for better UX */
}

html {
  font-size: calc(25% + 0.067vw);
  scroll-behavior: smooth;
}

body {
  font-size: 3.25rem;
  font-family: "Poppins", sans-serif;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin form-element {
  font-size: inherit;
  border: none;
  border-radius: 256rem;
  padding: 1rem 2rem;
  background-color: #ffebb3;
}

button,
select {
  cursor: pointer;
}

#root {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

header {
  background-color: #f4a226;
  @include flex-center();
}

h1 {
  font-size: 8rem;
}

main {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  > * {
    @include flex-center();
  }
}

form {
  background-color: #e5771f;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  gap: 2rem;

  .form-control {
    @include flex-center();
    gap: 2rem;
    select,
    input,
    button {
      @include form-element();
    }

    button {
      background-color: #76c7ad;
    }
  }
}

@function double-font-size($inherited-size) {
  @return $inherited-size * 2;
}

ul {
  // padding: 2% 5%;
  list-style: none;
  overflow: auto;
  background-color: #5a3e2b;
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-items: left;
  align-items: center;
  align-content: start;
  color: #fff;

  li {
    @include flex-center();
    margin-left: 21%;
    input {
      margin-right: 2rem;
    }

    button,
    input {
      @include form-element();
      background-color: transparent;
      color: red;
      accent-color: #e5771f;
    }

    button {
      font-size: 8rem;
    }
  }
}

div.control {
  background-color: #5a3e2b;
  display: flex;
  gap: 3rem;

  select,
  button {
    @include form-element();
  }
}

p.stats {
  text-align: center;
  padding: 1% 2%;
  background-color: #76c7ad;
}

@media (min-width: 377px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 610px) {
  form {
    flex-direction: row;
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 987px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
